@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}

body {
  height: 100dvh;
}

#app-container {
  display: grid;
  grid-template-columns: 2fr 9fr;
  height: 100%;
}

#aside-title-container {
  padding: 20px;
  font-size: 18px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

svg {
  fill: white;
  width: 40px;
}

#aside-nav-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  padding-left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.iconify {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.black-icons {
  color: black;
}

img {
  border-radius: 50%;
  width: 54px;
  cursor: pointer;
}

#aside-container {
  background-color: #1992d4;
  color: white;
}

li {
  list-style-type: none;
}

#header-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.header {
  display: flex;
}

#header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  width: 50%;
}

#search-bar {
  width: 100%;
  border-radius: 14px;
  border: 0;
  background-color: #e2e8f0;
  padding: 6px;
}

#user-info-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.user-name {
  font-weight: bold;
  font-size: 20px;
}

#header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#welcome-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#bigger-img {
  width: 68px;
}

#greetings-message {
  font-weight: bold;
}

#greeting-user-name {
  font-size: 20px;
}

#buttons-container {
  display: flex;
  gap: 40px;
}

.button {
  background-color: #1992d4;
  color: white;
  border: 0;
  border-radius: 16px;
  width: 110px;
  padding: 8px;
  cursor: pointer;
}
