@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}

body {
  height: 100dvh;
}

#app-container {
  display: grid;
  grid-template-columns: 300px 9fr;
  height: 100%;
}

#aside-title-container {
  padding: 20px;
  font-size: 18px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

svg {
  fill: white;
  width: 40px;
}

#aside-nav-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  padding-left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.iconify {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.black-icons {
  color: black;
}

img {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

#not-perfect-square-img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

#aside-container {
  background-color: #1992d4;
  color: white;
}

li {
  list-style-type: none;
}

#header-main-container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

#header-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 2px 0px #d9d9d9;
}

.header {
  display: flex;
}

#header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  width: 50%;
}

#search-bar {
  width: 100%;
  border-radius: 14px;
  border: 0;
  background-color: #e2e8f0;
  padding: 6px;
}

#user-info-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.user-name {
  font-weight: bold;
  font-size: 20px;
}

#header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#welcome-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#bigger-img {
  width: 68px;
}

#greetings-message {
  font-weight: bold;
}

#greeting-user-name {
  font-size: 20px;
}

#buttons-container {
  display: flex;
  gap: 40px;
}

.button {
  background-color: #1992d4;
  color: white;
  border: 0;
  border-radius: 16px;
  width: 110px;
  padding: 8px;
  cursor: pointer;
}

#main-container {
  background-color: #e2e8f0;
  display: grid;
  grid-template-areas: "projects projects aside" "projects projects aside";
}

#projects-section {
  grid-area: projects;
  padding: 20px;
}

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  padding: 20px;
  gap: 20px;
}

.main-titles {
  font-size: 22px;
}

#your-projects {
  padding-left: 20px;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  border-left: 8px solid #f0b429;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 350px;
  justify-self: center;
}

.group-icons-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.smaller-size-icon {
  font-size: 24px;
}

#main-aside-container {
}

.main-aside {
  padding: 20px;
  width: 300px;
}

#announcements-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: grid;
  gap: 20px;
}

.announcement-item {
  font-size: 12px;
}

#announcements {
  grid-area: aside;
}

#trending {
  grid-area: aside;
}

#trending-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  display: grid;
  gap: 20px;
}

.trending-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.trending-user-info {
  display: grid;
  gap: 6px;
}

.trending-user-tag {
  font-weight: bold;
}
